<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
<!--    <link rel="stylesheet" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>
<body>
    <div class="contaier">
        <p th:text="${message}"></p>
        <div class="form-container">
            <form method="post" action="#" th:action="@{/login}" th:object="${login}">
                <label for="identifier">Email/Username:
                    <input id="identifier" type="text" th:field="*{identifier}">
                </label>
                <br>
                <label>Password:
                    <input type="password" name="password">
                </label>
                <br>
                <input type="submit" value="Login">
            </form>
        </div>
     <a th:href="@{/createusers}">Create an account</a>
        </div>
</body>
</html>